

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Syne', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(46, 206, 46) ;
    font-family: 'Syne', sans-serif;
}

.logoName{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.logo {
    /* Center the logo horizontally and align it vertically with flexbox */
    display: flex;
    align-items: center;
  }
  .logo img {
    /* Adjust the logo size as needed */
    width: 80px; /* You can change this value */
    height: 80px; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some spacing between the logo and navigation links */
  }
  .logo a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
}
.nav-links{
   display: flex;
   justify-content: space-around;
   width: 40%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: black;
  }
  
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0,3s ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:1024px){
  body{
      overflow-x: hidden;
  }
  .nav-links{
      position: absolute;
      top: 8vh;
      right: -100%; /* Initially hide the menu off-screen */
      background-color: rgb(46, 206, 46) ;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      z-index: 3;
      transition: right 0.5s ease-in; /* Use right property for animation */
      align-items: center;
      margin-top: 30px;
  }
  .nav-links li{
      opacity: 0;
      padding: 10px; 
      margin-bottom: 10px;
  }
  .burger{
      display: block;
  }
}

.nav-active{
  right: 0; /* Slide the menu in */
}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
}
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg)  translate(-5px,6px);
}

.container{
    width: 100%;
    height: 100vh;
    
}
.slides{
    width: 100%;
    height: 100%;
}
.slides::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.404);
    z-index: 1;
}
.slides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img_overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 100%;
    text-align: center;
    z-index: 2;
    color: white;
    font-weight: 600;
}
.img_overlay p{
    font-size: 2.5rem;
    color:white;
}
.img_overlay h2{
    font-size: 4.5rem;
    letter-spacing: 5px;
    color:white;
}
.img_overlay a{
    text-decoration: none;
    color: white;
    padding: 0.8rem 2rem;
    margin-top: 2rem;
    border-radius: 4px;
    background:  rgb(46, 206, 46) ;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
.img_overlay a:hover{
    background:  rgba(16, 127, 16, 0.05) ;
}

.btn{
    background: rgba(0,0,0,0.6);
    padding: 2rem;
    color: white;
    border-radius: 50%;
}
.btn::after{
    color: white;
}

.swiper-button-next{
    margin-right: 50px;
}
.swiper-button-prev{
    margin-left: 50px;
}

@media(max-width: 900px){
    .swiper-button-next{
        margin-right: 20px;
    }
    .swiper-button-prev{
        margin-left: 20px;
    }
    .img_overlay p{
        font-size: 2rem;
    }
    .img_overlay h2{
        font-size: 3.5rem;
        letter-spacing: 5px;
        color:white;
    }
    .img_overlay a{
        text-decoration: none;
        color: white;
        padding: 0.6rem 1rem;
        margin-top: 2rem;
        border-radius: 4px;
        background: rgb(46, 206, 46) ;
        transition: all 0.3s ease-in-out;
        display: inline-block;
    }
}

@media(max-width:768px){
    .swiper-button-next{
        margin-right: 10px;
    }
    .swiper-button-prev{
        margin-left: 10px;
    }
    .img_overlay p{
        font-size: 1.5rem;
    }
    .img_overlay h2{
        font-size: 2.5rem;
        letter-spacing: 5px;
        color:white;
    }

}

@media(max-width:600px){
    .btn{
        visibility: hidden;
    }
}

/* .intro_image_container{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    margin-top: 40px;
    padding-left: 30x;
    
} */

.intro_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%; /* Adjust the max-width as needed */
    margin: 30px auto 0; /* Add margin-top to create space at the top */
    padding-left: 15%;
    padding-right: 15%;
    background-color:beige;
  }
  
  
  .intro_image_container {
    display: flex;
    align-items: center;
    margin-bottom: 30px; /* Add some space between the image and the paragraphs */
  }

  .intro_image_container h4{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .intro_image_container img {
    width: 80px; /* Adjust the image width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 30px; /* Add some space between the image and the text */
  }
  
  .intro_paragraph_container {
    max-width: 100%; /* Adjust the max-width as needed */
  }
  
  .intro_paragraph_container p {
    font-size: 20px; /* Adjust the font size as needed */
    margin-bottom: 10px; /* Add space between paragraphs */
  }
  
  .intro_paragraph_container a{
    text-decoration: none;
    color: white;
    padding: 0.8rem 2rem;
    margin-top: 2rem;
    border-radius: 4px;
    background:  rgb(46, 206, 46) ;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
.intro_paragraph_container a:hover{
    background: green;
}


  /* Styles for screens with a width of 900px or less */
@media (max-width: 900px) {
    .intro_container {
      text-align: center;
    }
    .intro_image_container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .intro_image_container img {
      width: 80px; /* Adjust the size as needed */
      height: 80px; /* Maintain aspect ratio */
    }
    .intro_image_container h4 {
      font-size: 25px; /* Adjust the font size as needed */
      margin-top: 10px; /* Add some spacing between the image and text */
    }
    .intro_paragraph_container p {
      font-size: 20px; /* Adjust the font size as needed */
    }
    .intro_paragraph_container a {
        padding: 0.6rem 1.5rem; /* Adjust button padding for smaller screens */
      }
  }
  
  /* Styles for screens with a width of 768px or less */
  @media (max-width: 768px) {
    .intro_image_container {
      flex-direction: row; /* Stack the image and text horizontally */
    }
    .intro_image_container img {
      width: 70px; /* Adjust the size as needed */
      height: 70px; /* Maintain aspect ratio */
      margin-right: 10px; /* Add some spacing between the image and text */
    }
    .intro_image_container h4 {
      font-size: 25px; /* Adjust the font size as needed */
      margin-top: 0; /* Remove margin-top to align text vertically with the image */
    }
    .intro_paragraph_container p {
      font-size: 20px; /* Adjust the font size as needed */
    }
    /* Add more styles as needed for 768px screens */

    .intro_paragraph_container a {
        padding: 0.5rem 1rem; /* Further reduce button padding for even smaller screens */
      }
  }

 
.youtube_container {
    position: relative;
    margin-top: 5px; /* Add some space between sections */
  }
  
  .youtube_container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .youtube_container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.404);
    z-index: 1;
  }
  
  .youtube_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 2;
    color: white;
    font-weight: 600;
    padding-left: 15%;
    padding-right: 15%;
  }
  
  .youtube_overlay p {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 20px; /* Add space between text and button */
  }
  
  .youtube_overlay a {
    text-decoration: none;
    color: white;
    padding: 0.8rem 2rem;
    margin-top: 10px; /* Add space between paragraphs and the button */
    border-radius: 4px;
    background: rgb(46, 206, 46) ;
    transition: all 0.3s ease-in-out;
    display: inline-block;
  }
  
  .youtube_overlay a:hover {
    background: green;
  }

  /* Media query for screens with a maximum width of 900px */
@media (max-width: 900px) {
    .youtube_container {
      margin-top: 10px; /* Adjust margin for smaller screens */
    }
  
    .youtube_overlay p {
      font-size: 0.6rem; /* Reduce font size for smaller screens */
    }
    .youtube_overlay a {
        padding: 0.4rem 1rem; /* Adjust button padding for smaller screens */
        font-size: 0.7rem;
        margin-bottom: 5%;
      }
  }
  
  /* Media query for screens with a maximum width of 768px */
  @media (max-width: 768px) {
    .youtube_container {
      margin-top: 4.5px; /* Further adjust margin for even smaller screens */
    }
  
    .youtube_overlay p {
      font-size: 0.5rem; /* Reduce font size for even smaller screens */
    }
    .youtube_overlay a {
        padding: 0.5rem 1rem; /* Further reduce button padding for even smaller screens */
        font-size: 0.6rem;
        margin-bottom: 5%;
      }
  }

/* CSS for the header "The Church Leaders" */

.header {
  text-align: center;
  font-size:xx-large;
  margin: 20px 0; /* Add margin for spacing */
  font-weight: bold; /* Optionally, make the header text bold */
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .header {
    font-size: medium; /* Adjust font size for smaller screens */
  }
}

/* Media query for screens with a maximum width of 900px */
@media (max-width: 900px) {
  .header {
    font-size: medium; /* Adjust font size for smaller screens */
  }
}

/* CSS for the Cards */

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  flex: 1;
  max-width: calc(50% - 20px); /* Two cards per row on smaller screens */
  background-color: beige;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px; /* Adjust margin for smaller screens */
  box-sizing: border-box;
}

.card img {
  width: 100%;
  height: 300px; /* Set the height for consistent image sizes */
  object-fit: cover;
}

.card-content {
  padding: 16px;
  color: black;
  height: auto; /* Adjust height to allow content to expand */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-content h3 {
  font-size: 20px; /* Adjust font size for smaller screens */
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-content .btn1 {
  display: inline-block;
  padding: 6px 12px; /* Adjust button padding for smaller screens */
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
  pointer-events: none;
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .card-container {
    flex-direction:column;
    align-items:center;
  }

  .card {
    max-width: calc(50% - 20px); /* Two cards per row on smaller screens */
    margin: 10px;
  }

  .card-content h3 {
    font-size: 10px; /* Adjust font size for smaller screens */
  }

  .card-content .btn1 {
    padding: 6px 12px; /* Adjust button padding for smaller screens */
  }
}

/* Media query for screens with a maximum width of 900px */
@media (max-width: 900px) {
  .card-container {
    flex-direction:column;
    align-items:center;
  }

  .card {
    max-width: calc(50% - 20px); /* Two cards per row on smaller screens */
    margin: 10px;
  }

  .card-content h3 {
    font-size: 15px; /* Adjust font size for smaller screens */
  }

  .card-content .btn1 {
    padding: 6px 12px; /* Adjust button padding for smaller screens */
  }
}


#service-xx{
  text-align: center;
  padding: 20px 0;
  margin-bottom: 5px;
  font-size: 30px;
    font-weight: 600;
}
.service-time {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 5px;
}

.container1 {
  display: flex;
  justify-content: center;
}

.service-box {
  margin: 0 20px;
  text-align: center;
}

.service-box i {
  font-size: 3rem; /* Increased font size */
  margin-bottom: 10px;
}

.service-box h3 {
  font-size: 1.5rem; /* Increased font size */
}
.service-box h4 {
  font-size: 1rem; /* Increased font size */
}


 
 .map_container {
  position: relative;
  margin-top: 5px; 
}

.map_container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.map_container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.404);
  z-index: 1;
}

.map_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 2;
  color: white;
  font-weight: 600;
  padding-left: 15%;
  padding-right: 15%;
}

.map_overlay p {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 20px; 
}
.map_overlay h3 {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;

}

.map_overlay a {
  text-decoration: none;
  color: white;
  padding: 0.8rem 2rem;
  margin-top: 10px; 
  border-radius: 4px;
  background:  rgb(46, 206, 46) ;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.map_overlay a:hover {
  background: green;
}

.actual_map{
  float: left;
}


/* Media query for screens with a maximum width of 900px */
@media (max-width: 900px) {
  .map_container {
    margin-top: 7px;
  }

  .map_container img {
    width: 100%;
  }

  .map_overlay h3 {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
  
  }

  .map_overlay p {
    font-size: 0.7rem;
  }
 
  .map_overlay a {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    margin-bottom:30px;
  }

  .actual_map iframe {
    width: 70%;
    height: 100px; /* Adjust the height as needed */
    margin-top: 30px;
  }
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .map_container {
    margin-top: 4.5px;
  }

  .map_overlay p {
    font-size: 0.7rem;
  }
  .map_overlay h3 {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
  
  }

  .map_overlay a {
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    margin-bottom: 30px;
  }

  .actual_map iframe {
    width: 70%;
    height: 100px; /* Adjust the height as needed */
    margin-top: 30px;
  }
}



footer{
  width: 100%;
  padding: 50px 0px;
  background-image: url(../Images/background-footer.svg);
  background-size: cover;
  
  /*background-color: #d0f0f8;
  -webkit-mask-image: url("../Images/background-footer.svg");
  mask-image: url("../Images/background-footer.svg");
  -webkit-mask-size: cover;
  mask-size: cover;*/
}

.container__footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer{
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .logo img{
  width: 100%;
  height: 100%;
}

.box__footer .terms{
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.box__footer h2{
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
}

.box__footer a{
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

.box__footer a:hover{
  opacity: 0.8;
}

.box__footer a .fab{
  font-size: 20px;
}

.box__copyright{
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p{
  margin-top: 20px;
  color: #7a7a7a;
}

.box__copyright hr{
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}

/* @media (max-width: 900px) {
  .box__footer .logo img{
   display: none;
  }
}

/* Media query for screens with a maximum width of 768px */
/* @media (max-width: 768px) {
  .box__footer .logo img{
    display: none;
}
} */ 


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: black; /* Add a dark-grey background on hover */
}

@media (max-width: 768px) {
  #myBtn {
    right: 20px; /* Adjust position for smaller screens */
    padding: 10px; /* Reduce padding for mobile */
    font-size: 14px; /* Reduce font size for mobile */
  }

  #myBtn:hover {
    background-color: darkgrey; /* Add a lighter background on hover for mobile */
  }
}

/* Style for the "Other Leaders" button */
.other-leaders-button {
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
  margin-bottom: 25px;
  font-size: 0.8rem;
}

.btn-blue {
  background-color:  rgb(46, 206, 46) ;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s; /* Smooth hover effect */
}

.btn-blue:hover {
  background-color: green;
}
@media (max-width: 900px) {
  #myBtn {
    right: 20px; /* Adjust position for smaller screens */
    padding: 10px; /* Reduce padding for mobile */
    font-size: 14px; /* Reduce font size for mobile */
  }

  #myBtn:hover {
    background-color: darkgrey; /* Add a lighter background on hover for mobile */
  }
}

/* Style for the "Other Leaders" button */
.other-leaders-button {
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
  margin-bottom: 25px;
  font-size: 0.8rem;
}

.btn-blue {
  background-color:  rgb(46, 206, 46) ;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s; /* Smooth hover effect */
}

.btn-blue:hover {
  background-color: green;
}
